.pipeline-container {
    padding: 20px;
}

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}






.boards-list {
    margin-top: 20px;
    display: flex;
    gap: 5px;
    width: 100%;
    overflow-x: auto;
}

.stage {
    background-color: #EEF7FF;
    padding: 10px;
    margin-bottom: 10px;
   align-items: center;
    height: 100vh;
    overflow-y: auto;
    border-radius: 10px;
}


.board-header-second {
    float: right;
    display: flex;
    align-items: center;
    gap: 10px;
    color: blue;
    cursor: pointer;
   margin-top: 10px;
   margin-bottom: 15px;
}

.addjob-form-container {
    position: fixed;
    top: 0;
    right: -600px;
    width: 600px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    border-radius: 15px 0 0 15px;
}

.job-form-open {
    right: 0;
}

.job-header_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid grey;
}

.jobs-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.add-jobs-form {
    padding: 15px;
}

.job-card {
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    height: 250px;

}

.job-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boards-list li {
    list-style: none;
}

.stage-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.medium-priority{
    background-color: #FFC300;
    border-radius: 50px;
    padding: 2px 6px;
    font-size: 12px;
    color: white;
  /* margin: 20px 0; */
}
.automation-batch{
    background-color: red;
    padding:  1px 6px;
    border-radius: 50px;
    color: white;
}
.job-from{
    padding: 15px;
}
.edit-job-container {
    position: fixed;
    top: 0;
    right: -50%; 
    width: 50%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    border-radius: 15px 0 0 15px;
    /* padding: 15px; */
  }
  
  .edit-jobform-open {
    right: 0;
  }
  .form-close{
    font-size: 20px;
    cursor: pointer;
  }
  .edit-job-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid grey;
  }
 .jobtime-created{
    color: gray;
    font-size: 11px;
    font-weight: 500;
 }
  